@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Visions.Web.Models.PhotoViewModel>

@{
    ViewBag.Title = "Shared dashboard";
}

<h2>@ViewBag.Title</h2>

@if (this.Model.Count() > 0)
{
    @Html.Partial("_AllPhotos", this.Model)
}

<div class="col-sm-10">
    @Html.PagedListPager(this.Model, page => Url.Action("Shared",
       new
       {
           text = this.ViewBag.SelectedTag,
           page,
           pageSize = this.Model.PageSize
       }))
    <div class="btn btn-post-article text-uppercase" >
        @Html.ActionLink("Back to homepage", "Index", "Home")
    </div>
</div>


