
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<form action="" method="post" enctype="multipart/form-data">
    <label for="file">Upload File:</label><input type="file" name="file" id="file" />
    <input type="submit" />
    @if (TempData["Success"] != null)
    {
        <div class="success">
            <p>@TempData["Success"].ToString()</p>
        </div>
    }
</form>
