@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Visions.Web.Models.PhotoViewModel>

@{
    ViewBag.Title = "Profile";
}

<hr />

@Html.Partial("_UploadPhoto")

@if (this.Model.Count() > 0)
{
    @Html.Partial("_UserPhotos", this.Model)
}

<div class="col-sm-10">
    @Html.PagedListPager(this.Model, page => Url.Action("Sort",
       new
       {
           text = this.ViewBag.SelectedTag,
           page,
           pageSize = this.Model.PageSize
       }))

    <div id="backToHomepageLink">
        @Html.ActionLink("Back to homepage", "Index", "Home", new
   {
       area = ""
   }, new
   {
       @class = "text-info text-lowercase"
   })
    </div>
</div>
