@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<br />

<p>
    <h1>
        Visions lets you effortlessly share anything.
    </h1>
    <h4>Post text, photos, quotes, links, music, and videos from your browser, phone, desktop or wherever you happen to be.</h4>
</p>
<div class="section">
    <div class="page-header"></div>
    <div class="text-right">
        <dl>
            <dt>Founded</dt>
            <dd>March 2017</dd>
            <dt>Founder</dt>
            <dd>Binary Unicorn</dd>
        </dl>
    </div>
</div>
