@model IEnumerable<Visions.Web.Models.ArticleViewModel>
@{
    ViewBag.Title = "Get started";
}

<header>
    <div class="header-content container">
        <div class="header-content-inner">
            <h1 id="homeHeading">visions.</h1>
            <hr>

            @if (this.User.Identity.IsAuthenticated)
            {
                <h3>Got something to say?</h3>

                <form id="createArticleForm" action="" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="form-group">
                            <input id="articleTitle" type="text" name="articleTitle" class="form-control article-field" placeholder="Title" />
                        </div>

                        <div class="form-group">
                            <input id="articleContent" type="text" name="articleContent" class="form-control article-field" placeholder="Content" />
                        </div>

                    </div>

                    <div class="form-group">
                        <input type="submit" value="Post" class="btn btn-default btn-post-article article-field" />
                    </div>
                </form>

                @Html.Partial("_AllArticles", this.Model)
            }
            else
            {
                <p>
                    Come for what you love.
                    <br />
                    Stay for what you discover.
                </p>
                <a href="/account/login" class="btn btn-primary btn-xl">@this.ViewBag.Title</a>
            }
        </div>
    </div>
</header>

@section Scripts {
    <script>
        $("#createArticleForm").validate({
            rules: {
                articleTitle: {
                    required: true,
                    minlength: 2
                },
                articleContent: {
                    required: true,
                    minlength: 2
                }
            }
        });

        $.validator.messages.required = "Please enter some text."
        $.validator.messages.minlength = "The text must be more than {0} characters long.";
    </script>
}