@{
    ViewBag.Title = "Sign up";
}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">visions.</h1>
            <hr>
            <p>
                Come for what you love.
                <br />
                Stay for what you discover.
            </p>
            <a href="/account/login" class="btn btn-primary btn-xl">Get started</a>
        </div>
    </div>
</header>