@using PagedList;
@using Visions.Web.App_GlobalResources

@model IPagedList<Visions.Web.Models.PhotoViewModel>

<table class="table">
    <tbody>
        @foreach (var photo in Model)
            {
            <tr>
                <td>
                    <img src="@photo.Path" class="center-block img-responsive img-shared" />
                    @foreach (var tag in photo.Tags)
                    {
                        this.ViewBag.SelectedTag = tag.Text;

                        <a class="btn btn-post-article text-lowercase text-info" onclick="location.href='@Url.Action("Sort", "Profile", new { tag.Text })'">#@tag.Text</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
