@model IEnumerable<Visions.Web.Models.PhotoViewModel>

@if (this.Model.Count() > 0)
{
    <table class="table">
        <tbody>
            @foreach (var photo in Model)
            {
                <tr>
                    <td>
                        <img src="@photo.Path" class="center-block img-responsive" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
