@using PagedList;

@model IPagedList<Visions.Web.Models.PhotoViewModel>

@if (this.Model.Count() > 0)
{
    <table class="table">
        <tbody>
            @foreach (var photo in Model)
                {
                <tr>
                    <td>
                        <img src="@photo.Path" class="center-block img-responsive" />
                        @foreach (var tag in photo.Tags)
                    {
                         <a class="text-info" onclick="location.href='@Url.Action("Sort", "Profile", new { tag.Text })'">#@tag.Text</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
