@using Visions.Web.App_GlobalResources

@model IEnumerable<PhotoViewModel>

@{
    ViewBag.Title = GlobalResources.UploadPhotoTitle;
}

<div class="col-sm-offset-1 col-sm-11">
    <div class="well-lg col-sm-offset-7">
        <h2 class="display-3">@this.ViewBag.Title</h2>

        @if (this.TempData["Success"] != null)
        {
        <div class="text-uppercase col-sm-offset-3">
            <p>@this.TempData["Success"].ToString()</p>
        </div>
        }
    </div>

    <form id="uploadPhotoForm" action="" method="post" enctype="multipart/form-data">
        <div class="form-group col-sm-offset-1 col-sm-1">
            <label for="file">
                <img src="~/Content/img/upload.png" alt="@GlobalResources.ChoosePhotoAltMessage" class="img-responsive" role="button" />
            </label>

            <input id="file" type="file" name="file" class="hidden" />
        </div>
        <div class="form-group col-lg-10">
            <input type="text" name="tags" placeholder="@GlobalResources.TagsFieldPlaceholderMessage" class="form-control" />
        </div>
        <div class="form-group col-sm-offset-9">
            <input type="submit" value=@GlobalResources.PostUploadedPhotoButtonText class="btn btn-default" />
        </div>
    </form>
</div>
